<% include common/header.ejs %>
<% include common/cart.ejs %>
<div class="container-fluid">
    <div class="main-container">
    <div class="contact-us">
        1. Контактні дані
    </div>
    <span class="col-ex-12 col-sm-12 col-md-8 form">
        <div class="form-row">
            <div class="col-sm-2 text">
                Ім'я
            </div>
            <div class="col-sm-10">
                <input class="text-box" type="text" id="name" placeholder="Ім'я">

            </div>
        </div>
    </span>
    <span class="col-ex-12 col-sm-12 col-md-8 order-info"></span>
    </div>
</div>
    
<% include common/footer.ejs %>